<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demoweb2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertTeamServlet</display-name>
    <servlet-name>InsertTeamServlet</servlet-name>
    <servlet-class>com.ltts.demoweb2.controller.InsertPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTeamServlet</servlet-name>
    <url-pattern>/InsertTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAuctionServlet</display-name>
    <servlet-name>InsertAuctionServlet</servlet-name>
    <servlet-class>com.ltts.demoweb2.controller.InsertTeamServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAuctionServlet</servlet-name>
    <url-pattern>/InsertAuctionServlet</url-pattern>
  </servlet-mapping>
</web-app>